.footer {
  padding: 2rem 0;
  margin-top: 4rem;
  border-top: 1px solid var(--secondary-container-color);
  text-align: center;
  color: var(--on-secondary-container-color);
  font-size: 0.9rem;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.footerLinks a {
  color: var(--on-secondary-container-color);
  font-weight: 500;
}